<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.web.mappers.MenuMapper" >
  <resultMap id="BaseResultMap" type="com.web.entity.Menu" >
    <id column="Y_ID" property="id" jdbcType="VARCHAR" />
    <result column="Y_LEVEL" property="level" jdbcType="SMALLINT" />
    <result column="Y_NAME" property="name" jdbcType="VARCHAR" />
    <result column="Y_ORDER" property="order" jdbcType="VARCHAR" />
    <result column="Y_URL" property="url" jdbcType="VARCHAR" />
    <result column="Y_PARENT_ID" property="parentId" jdbcType="VARCHAR" />
    <result column="Y_ICON_ID" property="iconId" jdbcType="VARCHAR" />
    <result column="Y_TYPE" property="type" jdbcType="SMALLINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    Y_ID, Y_LEVEL, Y_NAME, Y_ORDER, Y_URL, Y_PARENT_ID, Y_ICON_ID, Y_TYPE
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.web.example.MenuExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_s_menu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_s_menu
    where Y_ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_s_menu
    where Y_ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.web.example.MenuExample" >
    delete from t_s_menu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.web.entity.Menu" >
    insert into t_s_menu (Y_ID, Y_LEVEL, Y_NAME, 
      Y_ORDER, Y_URL, Y_PARENT_ID, 
      Y_ICON_ID, Y_TYPE)
    values (#{id,jdbcType=VARCHAR}, #{level,jdbcType=SMALLINT}, #{name,jdbcType=VARCHAR}, 
      #{order,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{parentId,jdbcType=VARCHAR}, 
      #{iconId,jdbcType=VARCHAR}, #{type,jdbcType=SMALLINT})
  </insert>
  <insert id="insertSelective" parameterType="com.web.entity.Menu" >
    insert into t_s_menu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Y_ID,
      </if>
      <if test="level != null" >
        Y_LEVEL,
      </if>
      <if test="name != null" >
        Y_NAME,
      </if>
      <if test="order != null" >
        Y_ORDER,
      </if>
      <if test="url != null" >
        Y_URL,
      </if>
      <if test="parentId != null" >
        Y_PARENT_ID,
      </if>
      <if test="iconId != null" >
        Y_ICON_ID,
      </if>
      <if test="type != null" >
        Y_TYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=SMALLINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="order != null" >
        #{order,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="iconId != null" >
        #{iconId,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=SMALLINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.web.example.MenuExample" resultType="java.lang.Integer" >
    select count(*) from t_s_menu
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_s_menu
    <set >
      <if test="record.id != null" >
        Y_ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.level != null" >
        Y_LEVEL = #{record.level,jdbcType=SMALLINT},
      </if>
      <if test="record.name != null" >
        Y_NAME = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.order != null" >
        Y_ORDER = #{record.order,jdbcType=VARCHAR},
      </if>
      <if test="record.url != null" >
        Y_URL = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.parentId != null" >
        Y_PARENT_ID = #{record.parentId,jdbcType=VARCHAR},
      </if>
      <if test="record.iconId != null" >
        Y_ICON_ID = #{record.iconId,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        Y_TYPE = #{record.type,jdbcType=SMALLINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_s_menu
    set Y_ID = #{record.id,jdbcType=VARCHAR},
      Y_LEVEL = #{record.level,jdbcType=SMALLINT},
      Y_NAME = #{record.name,jdbcType=VARCHAR},
      Y_ORDER = #{record.order,jdbcType=VARCHAR},
      Y_URL = #{record.url,jdbcType=VARCHAR},
      Y_PARENT_ID = #{record.parentId,jdbcType=VARCHAR},
      Y_ICON_ID = #{record.iconId,jdbcType=VARCHAR},
      Y_TYPE = #{record.type,jdbcType=SMALLINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.web.entity.Menu" >
    update t_s_menu
    <set >
      <if test="level != null" >
        Y_LEVEL = #{level,jdbcType=SMALLINT},
      </if>
      <if test="name != null" >
        Y_NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="order != null" >
        Y_ORDER = #{order,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        Y_URL = #{url,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        Y_PARENT_ID = #{parentId,jdbcType=VARCHAR},
      </if>
      <if test="iconId != null" >
        Y_ICON_ID = #{iconId,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        Y_TYPE = #{type,jdbcType=SMALLINT},
      </if>
    </set>
    where Y_ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.web.entity.Menu" >
    update t_s_menu
    set Y_LEVEL = #{level,jdbcType=SMALLINT},
      Y_NAME = #{name,jdbcType=VARCHAR},
      Y_ORDER = #{order,jdbcType=VARCHAR},
      Y_URL = #{url,jdbcType=VARCHAR},
      Y_PARENT_ID = #{parentId,jdbcType=VARCHAR},
      Y_ICON_ID = #{iconId,jdbcType=VARCHAR},
      Y_TYPE = #{type,jdbcType=SMALLINT}
    where Y_ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>