<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.mappers.UserMapper">
    <cache />
    <select id="getUser" resultType="User">
        select * from user where id = #{id}
    </select>
    <select id="getUserByName" resultType="User">
        select * from user where username = #{username}
    </select>
    <select id="getAllUsers" resultType="User">
        select * from user
    </select>
    <insert id="saveUser" flushCache="true" parameterType="com.web.entity.User">
      INSERT INTO user
      (ID, username, password, ip, telphone, email, createTime, lastLoginTime, level, extra, status)
      VALUES (#{id}, #{username}, #{password}, #{ip}, #{telphone}, #{email}, #{createTime}, #{lastLoginTime}, #{level}, #{extra}, #{status})
    </insert>

    <update id="updateUser" flushCache="true" parameterType="com.web.entity.User">
        UPDATE user SET username = #{username},password=#{password},ip=#{ip},telphone=#{telphone},
        email=#{email},createTime=#{createTime},lastLoginTime=#{lastLoginTime},lastLoginTime=#{lastLoginTime},
        level=#{level},extra=#{extra},status=#{status} WHERE ID=#{id}
    </update>

    <delete id="deleteUser" flushCache="true" parameterType="int">
        DELETE from USER  where id = #{id}
    </delete>
</mapper>